<% include ../partials/header %>
<!-- <% include ../partials/sidebar %> -->
<link rel="stylesheet" href="/assets/css/comment.css">
    <div class="row">
        <div class="col-md-3">
            <h2>Location:</h2>
            <% if(restaurant.location){ %>
                <div id="map"></div>
            <%}else{%>
                <div></div>
            <%}%>
        </div>
        
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= restaurant.image %>">
                <div class="caption-full">
                    <h4><a><%=restaurant.name%></a></h4>
                    <p><%= restaurant.description %></p>
                    <p> 
                        <em>Submitted By <%= restaurant.author.username %></em>
                    </p>
                    <% if(currentUser && restaurant.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/restaurants/<%= restaurant._id %>/edit">Edit</a>
                        <form id="delete-form" action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>
            <div class="well">
                <h4 class="pyzz">chat with other(<%= restaurant.comments.length %>)</h4>
                <!-- <div class="text-right">
                    <a class="btn btn-success" href="/restaurants/<%= restaurant._id %>/comments/new">Add New Comment</a>
                </div> -->
                <hr>
                <% restaurant.comments.forEach(function(comment){ %>
                    <div class="pl">
                        <div class="tx">
                            <!-- <a href="http://www.jq22.com/mem744867"> -->
                            <a href="#">    
                                <img src="http://www.jq22.com/tx/12.png">
                            </a>
                        </div>
                        <ul class="plbg">
                            <div class="f"> <%= comment.author.username %> <span class="jl">0</span></div>
                            <div class="r"> <span class="z12">2018/1/17 12:00:47</span></div>
                            <div class="dr"></div>
                            </ul>
                        <ul style="word-wrap: break-word;width: 100%">
                        <p><%= comment.text %></p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-warning hf" 
                                href="/restaurants/<%=restaurant._id %>/comments/<%=comment._id %>/edit">Edit</a>
                                <form id="delete-form" action="/restaurants/<%=restaurant._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>
                            <% }else{ %>
                                <a class="hf" name="51272" onclick="getReply()">Reply</a>
                            <% } %>
                            <div class="lyhf"></div>
                            
                            <div class="dr"></div>
                        </ul>
                    </div>   
                <% }) %>
                <div class="in2">
                    <div id="err" class="alert alert-danger" role="alert" style="display:none"><i class="fa fa-smile-o"></i> you need to login to make the comment</div>
                    <div id="err2" class="alert alert-warning" role="alert" style="display:none"><i class="fa fa-smile-o"></i> make other comment after 30 seconds</div>
                    <form action="/restaurants/<%= restaurant._id %>/comments/new" method="POST">
                        <textarea id="textarea1" style="height:200px; width:100%;" name="comment[text]" placeholder="share something and discuss with othersï¼" spellcheck="false"></textarea>
                        <div class="r top10">
                            <button type="submit" id="myButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
                                Add New Comment
                            </button>
                        </div>
                    </form>
                    <div class="dr"></div>
                </div>
            </div>
        </div>
    </div>
<script>
    
    function getReply(){
        document.getElementById('textarea1').focus();
    }   
    
</script>
<script> 
  function initMap() {
    var lat = <%= restaurant.lat %>;
    var lng = <%= restaurant.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= restaurant.name %><br />
      <%= restaurant.location %></strong>
      <p><%= restaurant.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk4u55etcK0F1YLvjDEg3Z3Myk19OmhXo&callback=initMap"></script>
<% include ../partials/background_s %>
<% include ../partials/footer %>